<div *ngIf="currentUser?.length">
      <mat-card class="card" [ngClass]="{'flipped': flipped}">
      <mat-card-header style="flex-direction: column;">
        <div class="box">
          <div class="title" (click)="flipped=!flipped">{{currentUser}} | ngrx-todo @ TerumoBCT | [{{mouseClicks}} clicks]</div>
        </div>
      </mat-card-header>
      <mat-card-content>
      <div class="container">
        <mat-form-field class="field" (keydown.enter)="addTodo(todo1)">
          <input #todo1  matInput placeholder="Add a new todo" class="todo-input">
        </mat-form-field>
      </div>
      <div *ngIf="(todos|async)?.length>0">
        <mat-tab-group mat-stretch-tabs="yes" (selectedTabChange)="setFilter($event)">
          <mat-tab label="All"></mat-tab>
          <mat-tab label="Active"></mat-tab>
          <mat-tab label="Completed"></mat-tab>
        </mat-tab-group>
      </div>
      <mat-spinner *ngIf="loading"></mat-spinner>
      <div class="message box" *ngIf="(todos|async)?.length===0">No todos yet</div>
      <mat-list class="list">
        <mat-list-item *ngFor="let todo of todos | async | visibleTodos:currentFilter" class="container1" (click)="onTodoClick(todo.id, todo.completed)">
          <mat-checkbox class="checkbox" [checked]="todo.completed"></mat-checkbox>
          <div class="todo-text">{{todo.text}} <div class="delete"><a href="#" (click)="removeTodo(todo.id)"><mat-icon>delete</mat-icon></a></div></div>
        </mat-list-item> 
      </mat-list>
      </mat-card-content>
    </mat-card>
</div>